@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-icon {
    margin-top: 1.7rem !important;
}

.swal2-container{
    padding-top: 5rem !important;
}

.swal2-title{
    padding: 0.75rem 0 0 0 !important
}

.swal2-html-container{
    margin: 1rem 0 !important
}

.swal2-styled{
    padding: 0.4rem 1rem !important
}